body
  font-size: $baseFz
  font-smooth: antialiased

h1,
h2
  margin: 50px 0

h1
  font-size: $h1Fz

h2
  font-family: "BariolLight", Helvetica, Arial, sans-serif
  font-weight: normal
  font-size: $h1Fz/1.5

a
  color: $emergencyColor
  text-decoration: none
draw-months-wrapper
span
  color: #fff

button
  border: none

svg
  width: 150px
  height: 150px

.input-field
  font-family: "BariolRegular", Helvetica, Arial, sans-serif
  background: none
  border: 1px solid #fff
  border-radius: $borderRadius
  padding: $gutter/2 $gutter
  color: #fff
  outline: none
  width: 100%
  font-size: $baseFz

.input-field-half
  display: inline-block
  width: auto
  vertical-align: top

.float-right
  float: right

.fz40
  font-size: 40px
.fz30
  font-size: 30px
.fz22
  font-size: 22px
.fz20
  font-size: 20px

.inline-block
  display: inline-block

.brand
  font-size: 24px
  color: $emergencyColor

.text-right
  text-align: right

.text-left
  text-align: left

.text-center
  text-align: center

.opacity
  opacity: 0.3

.splashText
  font-family: "BariolBold", Helvetica, Arial, sans-serif
  width: 100%
  display: block
  position: absolute
  line-height: 6em
  color: #fff
  font-size: 3em
  top: 0

.btn
  font-family: "BariolRegular", Helvetica, Arial, sans-serif
  font-size: $inputFz
  line-height: $inputFz*2
  outline: none
  &:hover
    cursor: pointer
  &-main
    background: $mainColor
    border-radius: $borderRadius
    color: #fff
  &-alert
    background: $circleEmergencyColor
    padding: 0 1em
    color: #fff
  &:disabled
    opacity: .5
    &:hover
      cursor: default
    
.radius
  border-radius: $borderRadius

.profile-img
  left: -180px
  top: 10px

.cbox
  display: inline-block
  width: $circleSize
  height: $circleSize
  border-radius: $circleSize/2
  line-height: $circleSize - 3
  font-size: $circleFz
  font-weight: bold
  transition: background 0.2s, box-shadow 1s
  position: relative
  &-yellow
    border: 2px solid $mainColor
    &.selected
      background: $mainColor

  &-emergency
    border: 2px solid $circleEmergencyColor
    &.selected
      background: $circleEmergencyColor

  &-regular
    border: 2px solid $circleRegularColor
    &.selected
      background: $circleRegularColor

  &-bool
    box-shadow: 2px 2px 5px rgba(92, 73, 67, 0.5)

  &:before
    +my-icon('5')
    opacity: 0
    font-size: 10px
    width: $circleSize - 4
    height: $circleSize
    position: absolute
    top: 0
    left: 0
    text-align: center
  &.selected
    box-shadow: none
    &:before
      opacity: 1
  input
    opacity: 0

.list-simple
  list-style: none
  padding: 0

.list-separator
  border-bottom: 1px solid rgba($borderColor, .3)
  overflow: visible
  li
    transition: opacity 0.3s ease-out, transform 0.3s ease-out
    padding: 0.5em 0
    border-top: 1px solid rgba($borderColor, .3)
  span
    margin-right: 1em
  .ng-enter
    transition: opacity 0.3s ease-out, transform 0.3s ease-out
    left: 10px
    opacity: 0
  .ng-enter-active
    transform: translate(-30px,0)
    opacity: 1
  .ng-leave
    transition: opacity 0.3s ease-in, transform 0.3s ease-in
    opacity: 1
  .ng-leave-active
    transform: translate(50px,0)
    opacity: 0
  .ng-enter-stagger,
  .ng-leave-stagger
    /* 200ms will be applied between each sucessive enter operation */
    -webkit-transition-delay: 0.3s
    transition-delay: 0.3s

.ico-bell
  position: absolute
  margin-left: -25px
  &:before
    font-size: 14px
    +my-icon('2')

.alert 
  color: $circleEmergencyColor

#loader
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(255,255,255,0.5)
  color: white
  z-index: 999
  opacity: 1
  &.ng-hide-add.ng-hide-add-active,
  &.ng-hide-remove.ng-hide-remove-active 
    -webkit-transition: all linear .3s
    transition: all linear .3s
  &.ng-hide 
    opacity: 0
  .ball-spin-fade-loader
    position: absolute
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%)

.draw-months-wrapper
  p 
    display: none
  &.success
    select, button
      display: none
    p
      display: block

.admin-nav
  margin-top: 100px
