<div class="row">
    <form ng-if="!user.isLoggedIn" class="half">
        <small class="fz22">wednesday 6th may</small>

        <h2 class="no-margin-top">Log in</h2>
        <p>
            <input placeholder="Email" class="input-field" type="text" id="emailfield" name="emailfield" ng-model="user.email" ng-model-options="{ debounce: 350 }" required />
        </p>
        <p>
            <input placeholder="Password" class="input-field" type="password" id="passwordfield" name="passwordfield" ng-model="user.password" ng-model-options="{ debounce: 350 }" required />
        </p>

        <button ng-click="vm.logIn(user)" class="btn btn-main radius full-width">Log in</button>

        <div ng-if="vm.toggleVerified">
            <p class="alert"><strong>Please verify your email before logging in.</strong></p>
            <button class="btn btn-alert radius" type="button" ng-click="vm.resendVerificationEmail(user.email)">Resend verification email.</button>
            <p ng-if="vm.resentEmail">Check your email :)</p>
        </div>
        <p><a href="#/user/register">Sign up</a> or <a href="#/user/reset-password">Don't remember your password?</a></p>
    </form>
</div>
