<div ng-if="!fetchUser.isLoggedIn">
    <h2>Sign up</h2>
    <form name="registerform">
        <div>
            <label for="emailfield">Email:</label>
            <input type="email" id="emailfield" name="emailfield" ng-model="user.email" ng-model-options="{ debounce: 350 }" required />
            <p ng-show="registerform.emailfield.$error.email">This is not a valid email.</p>
        </div>
        <div>
            <label for="usernamefield">Username:</label>
            <input type="text" id="usernamefield" name="usernamefield" ng-model="user.username" ng-model-options="{ debounce: 350 }" ng-minlength="3" ng-maxlength="15" required />
            <p ng-show="registerform.usernamefield.$error.minlength">Username is too short.</p>
            <p ng-show="registerform.usernamefield.$error.maxlength">Username is too long.</p>
        </div>
        <div>
            <label for="passwordfield">Password:</label>
            <input type="password" id="passwordfield" name="passwordfield" ng-model="user.password" ng-model-options="{ debounce: 350 }" required />
        </div>
        <div>
            <button ng-click="signUp(user)">Sign up</button>
            or <a href="/#/user/login">Log in</a>
        </div>
    </form>
</div>