<div class="row">
    <p class="alert" ng-if="vm.errorMessage">{{vm.errorMessage}}</p>
    <form name="passwordReset" class="half" novalidate>
        <p>
            <input class="input-field" type="email" name="resetPasswordEmail" id="resetPasswordEmail" placeholder="your email" ng-model="resetPasswordEmail" required ng-disabled="isViewLoading" />
        </p>
        <button ng-click="vm.sendResetEmail(resetPasswordEmail)" class="btn btn-main full-width" ng-disabled="isViewLoading" >Reset password</button>
    </form>
    <p ng-if="vm.resetEmailSent">Check your email.</p>
</div>